* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */


header {
    background-color: #2c3e50;
    /* min-height: 100px; */
}
.logo {
    color: white;
}

.ms-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2c3e50;
}
.hamburger-menu {
    display: block;
    text-align: end;
}
.link-nav {
    display: none;
    text-align: end;
}

/*********** tablet version ***********/

@media screen and (min-width:768px) {
    .hamburger-menu {
        display: none;
    }
    .link-nav {
        display: block;
    }
    
}

/* <!-- SECTION INTRO --> */

.intro{
    background-color: #1abc9c;
    min-height: 200px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-top: 44px;
}
.fa-bars {
    color: white;
    font-size: 16px;
    border-radius: 12%;
    border: 1px solid;
    padding: 3px 5px;
}

.item-nav {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.item-padding {
    padding: 0 15px;
}
.foto-profilo {
    display: flex;
    justify-content: center;
}
#img-profile {
    width: 200px;
    margin-bottom: 10px;
}
h1 {
    color: white;
    font-size: 26px;
    text-align: center;
}
.item-star {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

.fa-star {
    color: white;
    padding: 0 5px;
}
.indent {
    height: 3px;
    background-color: white;
    width: 50px;
    border-radius: 20%;
}
.text-skill {
    color: white;
    font-size: 15px;
    text-align: center;
}

/*********** tablet version ***********/

@media screen and (min-width:768px) {
    #img-profile {
        width: 150px;
    }
    h1 {
        font-size: 32px;
    }
    .text-skill {
        font-size: 13px;
    }
    .intro {
        padding-top: 25px;
    }
}

/*********** desktop version ***********/

@media screen and (min-width:992px) {
    h1 {
        font-size: 38px;
    }
    .text-skill {
        font-size: 16px;
    }
}


/* <!-- SECTION PORTFOLIO --> */

.portfolio {
    margin: 30px 0;
}
.item-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.img-portfolio {
    width: 400px;
    border-radius: 15px;
}
.portfolio-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.indent-portfolio {
    height: 3px;
    background-color: black;
    width: 85px;
    border-radius: 20%;
  }

/*********** tablet version ***********/

@media screen and (min-width:768px) {
    .img-portfolio {
        width: 350px;
    }
    .portfolio-text {
        font-size: 32px;
    }
}

/*********** desktop version ***********/

@media screen and (min-width:992px) {
    .img-portfolio {
        width: 300px;
    }
    .portfolio-text {
        font-size: 42px;
    }
    .indent-portfolio {
        width: 110px;
    }
}


/* <!-- SECTION ABOUT --> */

.about {
    background-color: #1abc9c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-about {
    margin-bottom: 15px;
    color: white;
    font-size: 13px;
}
.about-intro {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}
.fa-download {
    color: white;
}
.download {
    display: flex;
    justify-content: center;
}
.tag-download {
    color: white;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid;
    padding: 4px 8px;
}

/*********** tablet version ***********/

@media screen and (min-width:768px) {
    .about-intro {
        font-size: 26px;
    }
}

/*********** desktop version ***********/

@media screen and (min-width:992px) {
    .about-intro {
        font-size: 38px;
    }
    .indent {
        width: 80px;
    }
}


/* <!-- SECTION CONTACT ME --> */

.contact-me {
    padding-top: 20px;
    padding-bottom: 20px;
}
.linea-contactme {
    height: 1.25px;
    background-color: #ccc;
    width: 64%;
    margin: 0 auto;
}
#staticEmail {
    color: #cccccc;
}
#tag-send {
    background-color: #1abc9c;
    border: #1abc9c;
}
.contactme-intro {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.item-star2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.indent2 {
    height: 3px;
    background-color: black;
    width: 50px;
    border-radius: 20%;
}
.blackstar {
    color: black;
}

/*********** tablet version ***********/

@media screen and (min-width:768px) {
    .contactme-intro {
        font-size: 26px;
    }
}

/*********** desktop version ***********/

@media screen and (min-width:992px) {
    .contactme-intro {
        font-size: 38px;
    }
    .indent2 {
        width: 110px;
    }
}



/* <!-- SECTION CONTACTS --> */

.contacts {
    background-color: #3a546d;
    padding-top: 30px;
    
}

.fa-facebook-f, .fa-google-plus-g, .fa-twitter, .fa-linkedin-in {
    color: white;
    padding-top: 6px;
}
.intro-contacts {
    text-align: center;
    color: white;
}
.ms-container-social {
    width: 30px;
    height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    margin-right: 10px;
}
.social {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 30px;
}
.text-contacts {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
}
.link-bootstrap {
    text-decoration: none;
    color: #1abc9c;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
}
.text-footer {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
}
.fa-copyright {
    color: white;
}